
body{
	margin: 0;
	font-size: 15px;	
	color: black;
	font-family: "Raleway", sans-serif;
}	

a:-webkit-any-link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

/* Les couleurs sont : bleu #0065FC - bleu clair #DEEBFF - gris #<a href="#"></a><article class="activiteFDP">
					<!-- <img src="images/activites/FDP.jpg">-->
					<h3>Fort de Pomègues</h3>
				</article></a>

				<a href="#"><article class="activiteIDF">
					<!--<img src="images/activites/IDF.jpg">-->
					<h3>Îles du Frioul</h3>
				</article></a>

				<a href="#"><article class="activitesPNDC">
					<!--<img src="images/activites/PDNC.jpg">-->
					<h3>Parc National des Calanques</h3>
				</article></a>

				<a href="#"><article class="activiteNDDLG">
					<!--<img src="images/activites/NDDLG.jpg">-->
					<h3>Notre-Dame-de-la-Garde</h3>
				</article></a>
				
				<a href="#"><article class="activitePL">
					<!--<img src="images/activites/PL.jpg" alt=""> -->
					<h3>Parc Longchamp</h3>
				</article></a>  */


/* Mise-en-page générale */

.main{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.header{
	width: 1340px;
	height: 100px;
}

.recherche{
	width: 1340px;
}

.hébergements{
	width: 800px;
	height: 545px;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 40px;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.populaires{
	background-color: #F2F2F2;
	border-radius: 20px;
	padding: 40px;

	width: 340px;
	height: 545px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

}

.activites{
	width: 1340px;
	height: 550px;
}

.footer{
	background-color: #F2F2F2;
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

h3{
	font-size: 15px;
}

@media screen and (max-width: 1360px){
	.header, .recherche, .activites {
		width: 880px;
	}
}

@media screen and (max-width: 950px){
	.main{
		padding: 20px;
	}
}


/* Mise-en-page du Header */

.logo{
	float: left;
}

.headerNav{
	float: right;
}

.logo, .headerNav{
	margin-top: 40px;
}

.header ul{
	display: flex;
	flex-direction: row;

	list-style: none;
	text-decoration-line: none;
}

.headerNav li{
	margin: 0 60px;
}

.headerNav li:last-child{
	color: #0065FC;
	font-weight: bold;
}

/* 
.headerNav li--blue:hover {
    color: var(--color-blue);
    border-top: 2px solid var(--color-blue);
}


.headerNav li--bold {
    font-weight: 
    color: var(--color-blue);
}
*/

/* .headerNav li:hover {
	content: '';
	display: block;

	width: 100px;
	height: 4px;
	background: #0065FC;
}
*/

.headerNav li:hover {
	color: #0065fc;
	border-top: 2px solid #0065fc;
  	padding-top: 21px;
	font-weight: bold;
}


/* Mise-en-page de Recherche */


.recherche h1 {
	width: 100%;
}

.barreDeRecherche{
	border: 1px solid #F2F2F2;
	width: 420px;
	height: 48px;
	border-radius: 20px;

	display: inline-flex;
}

.barreDeRecherche p{
	margin: 0;
	border-radius: 20px;
}

.barreDeRecherche input {
	height: 100%;
	flex: auto;
	border: none;
	font-weight: bold;
	color: black;
}


.boxIconMap {
	width: 50px;
	height: 100%;
	margin: 0;

	background-color: #F2F2F2;
	border-radius: 20px 0 0 20px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.boxIconMap img{
	height: 18px;
	width: 18px;
}

.barreDeRecherche ::placeholder {
	padding-left: 10px;
}

button{
	height: 100%;
	width: 130px;
	background-color: #0065FC;
	color: white;
	font-family: "Raleway";
	font-weight: bold;
	font-size: 15px;

	border: 0;
	border-radius: 0 20px 20px 0;
	position: relative;
}

button:hover{
	background-color: #1f79ff;
}

/*
.button:hover {
    background-color: rgba(255, 0, 0, 1);
}

.button:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

*/

.filtres{
	display: flex;
	flex-direction: row;
	align-items: center;

	font-weight: bold;
}


.filtreEconomique, .filtreFamilial, .filtreRomantique, .filtreAnimaux {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 46px;
	border-radius: 25px;
	margin: 25px;

	background-color: white;
	border: 2px solid #d9d9d9;
}

.filtreEconomique:hover, .filtreFamilial:hover, .filtreRomantique:hover, .filtreAnimaux:hover {
	background-color: #F2F2F2;
}

.filtres label{
	margin-right: 20px;
}

.boxIcon{
	background-color: #deebff;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.rechercheInfo{
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.boxInfo{
	width: 20px;
	height: 20px;
	margin-right: 15px;
	border: 1px solid #F2F2F2;
	border-radius: 10px;

	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1360px){
	.filtres{
		flex-wrap: wrap;
		margin-top: 20px;
	}
	.pFiltres{
		width: 800px;
	}
	.filtreAnimaux, .filtreEconomique, .filtreFamilial, .filtreRomantique {
	 justify-content: space-between;
	 margin: 20px 34px 5px 0;
	}
}

@media screen and (max-width: 850px){
	.recherche{
		padding: 20px;
	}
}



/* Mise-en-page de la section "hébergements" */

.hébergements {
	width: 800px;
	justify-content: space-between;
	margin-right: 40px;
}

.hébergements h1, .hébergements p {
	margin-top: 0;
	margin-bottom: 0;
}


.hébergementsArticles{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;

	height: 440px;
}
.hébergements article{
	background-color: white;
	border: 5px solid white;
	border-radius: 20px;
	width: 235px;
	height: 190px;
	box-shadow: 0px 5px 16px #0000002e;
}

.ALC {
	background: url('images/hebergements/AubergeLaCAnebière.jpg') no-repeat;
	background-size: contain;
	background-position-y: -18px;
	position: relative;
	border-radius: 20px 20px 0 0;
}

.HDP {
	background: url('images/hebergements/HotelDuPort.jpg') no-repeat;
	background-size: contain;
	background-position-y: -25px;
	position: relative;
	border-radius: 20px 20px 0 0;
}

.HLM {
	background: url('images/hebergements/HotelLesMouettes.jpg') no-repeat;
	background-size: contain;
	background-position-y: -40px;
	position: relative;
	border-radius: 20px 20px 0 0;
}

.HDLM {
	background: url('images/hebergements/HotelDeLaMer.jpg') no-repeat;
	background-size: cover;
	background-position-y: -85px;
	position: relative;
	border-radius: 20px 20px 0 0;
}

.ALP {
	background: url('images/hebergements/AubergeLePanier.jpg') no-repeat;
	background-size: contain;
	position: relative;
	border-radius: 20px 20px 0 0;
}

.HCA {
	background: url('images/hebergements/HotelChezAmina.jpg') no-repeat;
	background-size: cover;
	background-position-y: -135px;
	position: relative;
	border-radius: 20px 20px 0 0;
}

.AubergeLaCannebière, .HôtelDuPort, .HôtelLesMouettes, .HôtelDeLaMer, .AubergeLePanier, .HôtelChezAmina {
	width: 237px;
	height: 75px;
	background-color: white;
	border-radius: 0 0 10px 10px;

	position: absolute;
	bottom: 0;
	left: -1px;
}

.hébergementsArticles h3, .hébergementsArticles p{
	margin-left: 10px;
}

.hébergementsArticles h3{
	margin-bottom: 4px;
	margin-top: 10px;
}

.hébergementsArticles p{
	font-size: 13px;
}

@media screen and (max-width: 880px){
	.hébergements{
		height: 750px;
		justify-content: center;
		align-content: center;
	}
	.hébergementsArticles{
		justify-content: center;
		align-content: space-around;
		height: 700px;
	}
	.hébergementsArticles article{
		margin: 10px;
	}
	.hébergements h1{
		align-items: center;
	}
}



/* Mise-en-page de la section "populaires" */


.lesPlusPopulaires {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.populaires h1{
	margin: 0;
}

.lesPlusPopulaires img{
	float: right;
}
.populairesHLSDM {
	background: url('images/hebergements/HotelLeSoleilDuMatin.jpg') no-repeat;
	background-size: contain;
	position: relative;

	width: 330px;
	height: 130px;
	border-radius: 25px;
	border: 4px solid white;
	box-shadow: 0px 5px 16px #0000002e;
}

.populairesACDLCD {
	background: url('images/hebergements/AuCoeurDeLeau.jpg') no-repeat;
	background-size: contain;
	background-position-x: -50px;
	position: relative;

	width: 330px;
	height: 130px;
	border-radius: 25px;
	border: 4px solid white;
	box-shadow: 0px 5px 16px #0000002e;
}

.populairesHTBEB {
	background: url('images/hebergements/HotelToutBleuEtBlanc.jpg') no-repeat;
	background-size: 39%;
	background-position-y: -30px;
	position: relative;

	width: 330px;
	height: 130px;
	border-radius: 25px;
	border: 4px solid white;
	box-shadow: 0px 5px 16px #0000002e;
	margin: 0;
}

@media screen and (max-width: 1360px){
	.lesPlusPopulaires, {
		width: 100%;
	}

	.populaires{
		width: 800px;
		margin-top: 40px;
		align-items: center;
	}

	.hébergements{
		margin-right: 0;
	}
	.lesPlusPopulaires{
		width: 330px;
	}

}

.HôtelLeSoleilDuMatin {
	background-color: white;
	position: absolute;
	right: 0;
	border-radius: 0 20px 20px 0;
	height: 100%;
	width: 210px;
}

.AuCoeurDeLEauChambresDHotes {
	background-color: white;
	position: absolute;
	right: 0;
	border-radius: 0 20px 20px 0;
	height: 100%;
	width: 210px;
}

.HôtelToutBleuEtBlanc{
	background-color: white;
	position: absolute;
	right: 0;
	border-radius: 0 20px 20px 0;
	height: 100%;
	width: 210px;
}

.populaires p{
	margin-left: 20px;
}

.populaires h3{
	margin-left: 20px;
}

/* Mise-en-page de la section "activites" */

.activites{
	display: flex;
	flex-wrap: wrap;
}

.activites h1{
	width: 100%;
}

.activitesVP {
	background: url('images/activites/VP.jpg') no-repeat;
	background-size: cover;
    position: relative;

	width: 300px;
	height: 450px;
	border-radius: 20px;
	box-shadow: 0px 5px 16px #0000002e;
}

.activitesPNDC {
	background: url('images/activites/PDNC.jpg') no-repeat;
	background-size: cover;
	background-position-x: -100px;;
    position: relative;

	width: 300px;
	height: 450px;
	border-radius: 20px;
	box-shadow: 0px 5px 16px #0000002e;
}

.FDP {
	background: url('images/activites/FDP.jpg') no-repeat;
	background-size: cover;
	background-position-x: 0;
	background-position-y: -150px;
    position: relative;

	width: 300px;
	height: 250px;
	border-radius: 20px;
	box-shadow: 0px 5px 16px #0000002e;
}

.IDF {
	background: url('images/activites/IDF.jpg') no-repeat;
    background-size: cover;
	background-position: bottom;
	position: relative;

	width: 300px;
	height: 160px;
	border-radius: 20px;
	box-shadow: 0px 5px 16px #0000002e;
}

.NDDLG {
	background: url('images/activites/NDDLG.jpg') no-repeat;
	background-size: contain;
    position: relative;

	width: 300px;
	height: 200px;
	border-radius: 20px;
	box-shadow: 0px 5px 16px #0000002e;
}

.PL {
	background: url('images/activites/PL.jpg') no-repeat;
	background-size: cover;
	background-position-y: -35px;
	position: relative;

	width: 300px;
	height: 210px;
	border-radius: 20px;
	box-shadow: 0px 5px 16px #0000002e;
}

.VieuxPort, .ParcNationalDesCalanques, .FortDePomègues, .IlesDuFrioul, .NotreDameDeLaGarde, .ParcLongchamps {
	position: absolute;
	bottom: 0;
	border-radius: 0 0 20px 20px;
	background-color: white;
	width: 100%;
	height: 55px;

	display: flex;
	align-content: center;
}

.activites h3 {
	padding-left: 20px;
	font-size: 15px;
}

.activitesVP, .activitesFDPetIDF, .activitesPNDC {
	margin-bottom: 40px;
	margin-right: 40px;
}

.FDP, .NDDLG {
	margin-bottom: 40px;
}

@media screen and (max-width: 1360px) {
	.activites{
		justify-content: center;
		height: 1080px;
	}
	.activitesFDPetIDF{
		margin-right: 0;
	}
	.activites h1{
		width: 645px;
	}
}

/* Mise-en-page de footer */

.footerContainer{
	width: 1340px;
	display: flex;
}

.footerAPropos, .footerNosHébergements, .footerAssistance{
	margin-right: 200px;
}

.footer ul{
	list-style: none;
	padding-left: 0;
}

.footer h2{
	margin: 16px 0;
}

.footer li{
	margin: 15px 0;
	text-decoration: none;
}

.footer li:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1360px){
	.footer{
		width: 100%;
		display: flex;

	}
	.footerContainer{
		width: 880px;
		margin: 20px;
		display: flex;
		justify-content: space-between;
	}
	.footerAPropos, .footerAssistance, .footerNosHébergements{
		margin: 20px;
	}
}

@media screen and (max-width: 880px){
	.footerContainer{
		justify-content: space-around;
	}
}

@media screen and (max-width: 420px){
	.footer{
		width: 100%;
	}
	.footerContainer{
		flex-direction: column;
	}
}